*{
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box !important;
}

.row {
  margin-right: 0 !important;
}

a {
  font-size: 36px;
  text-decoration: none;
  color: white;
  z-index: 100000;
}
.corouImage {
  max-height: 700px;
  object-fit: cover;
  background-repeat: no-repeat;
}
.bananaImage,
.carrotImage,
.cabbageImage,
.cherryImage,
.tomatoImage,
.appleImage {
  object-fit: cover;
  height: 287px;
}
.bellPepperImage {
  height: 287px;
}
span {
  margin: 5px;
}
.footerCards {
  gap: 60px;
  color: whitesmoke;
}
.footerRow {
  color: whitesmoke;
}
.row * {
  margin-left: 0;
  margin-right: 0;
}
/* @media screen and (min-width: 0px) and (max-width: 560px) {
    .footerRow{
        display: grid;
        grid-template-columns: repeat(1);
    }
    
} */

.card a{
  padding: 10px !important;
  /* margin: 10px 0 10px 0  !important; */
  margin-top: 10px !important;

}
.form-control{
  padding: 0.375rem 0.75rem !important;
}
.btn{

  padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x) !important;
}
.card-body{
  padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x) !important;
}
.list-group-item{
  padding: var(--bs-list-group-item-padding-y) var(--bs-list-group-item-padding-x) !important;
}